Library/*
Temp/*
.vs/*
obj/*
*.sln
*.csproj
Assets/InitTestScene*
ClientBuild/*
Lambda/.vs/*
Lambda/Lambda/aws-lambda-tools-defaults.json
Lambda/Lambda/bin/*
Lambda/Lambda/obj/*
ServerBuild/*
Terraform/terraform.exe
UnityPackageManager/*
XunitTrace.txt
Z8.userprefs