Library/*
Temp/*
bin
obj
*.csproj
Assets/InitTestScene*
Backend/terraform.exe
ClientBuild/*
Lambda/.vs/*
Lambda/Lambda/aws-lambda-tools-defaults.json
Lambda/Lambda/bin/*
Lambda/Lambda/obj/*
UnityPackageManager/*
XunitTrace.txt
Z8.userprefs