Library/*
Temp/*
.vs/*
obj/*
*.sln
*.csproj
Assets/Confidential/*
Assets/InitTestScene*
ClientBuild/*
ServerBuild/*
UnityPackageManager/*
XunitTrace.txt
Z8GameModel/bin/*
Z8GameModel/Properties/*
Z8GameModel/obj/*
Z8GameModel/.vs/*
Z8.userprefs